<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object1: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <% Ingredient.all.each do |testingr| %>
  <div id = 'checkbox_experiment'>
    <%= f.label :"#{testingr.name}", class:"checkbox inline" do %>
      <%= f.check_box :"#{testingr.name}" %>
      <span><%= "#{testingr.name}" %> </span>
      </div>
    <% end %>
  <% end%>
  <%= f.submit "Post", class: "btn btn-primary" %>
   <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 2) {
      alert('Maximum file size is 2MB. Please choose a smaller file.');
    }
  });
</script>